allure-pytest>2.9.42
allure-python-commons>2.9.42
apipkg==3.0.1
attrs>21.2.0
execnet>1.8.0
iniconfig>1.1.1
packaging>20.9
pluggy>0.13.1
py==1.11.0
pyparsing>2.4.7
pytest>6.2.4
pytest-forked>1.3.0
pytest-xdist>2.2.1
selenium==3.141.0
six==1.16.0
toml==0.10.2
urllib3==1.26.15
